<h2>Alterar senha</h2>

<br/>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :password, 							:label => "Senha" %>
	<%= f.input :password_confirmation, :label => "Confirmar", :hint => "Confirmar senha" %>
	<%= f.input :current_password, 			:label => "Senha atual" %>
	<%= f.button :submit, "Alterar" %>
<% end %>

</br>

<p>
	<%= link_to "Voltar", :back %>
</p>