<h2>Registar-se</h2>

<br/>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
	<%= f.input :name,     :label => "Nome" %>
  <%= f.input :email,    :label => "E-mail", :required => true  %>
  <%= f.input :password, :label => "Senha",  :required => true %>
	<%= f.input :password_confirmation, :label => "Confirmar", :hint => "Confirmar senha", :required => true %>
	<%= f.button :submit, "Registrar" %>
<% end %>


