<h3>Editar usuário</h3>

<%= form_for @user, :html => { :multipart => true} do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

	<div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div> 
  <div class="actions">
    <%= f.submit "Atualizar" %>
  </div>
<% end %>

<p>
	<%= link_to "Alterar senha", edit_user_registration_path %> |
	<%= link_to "Deletar conta", registration_path(@user),
	 	:confirm => "Tem certeza que deseja remover sua conta?", :method => :delete %> |
		<%= link_to "Voltar", :back %>
</p>
