<% title("Usuário") %>

<div class="user">
	<p><%= image_tag @user.avatar.url(:thumb) %></p>
	<p><b>Nome:</b> <%= @user.name %></p>
	<p><b>E-mail:</b> <%= @user.email %></p>

	<br/>
	<% if current_user.id.eql? @user.id %>
		<p><%= link_to "Editar", edit_user_path(@user) %> | <%= link_to "Voltar", :back %></p>
	<% end %>
</div>

