<% if show_survey(survey) %>
			<div class="surveys">
		    <h3><%= link_to survey.name.titleize , survey %></h3> 
		    <%= link_to(survey.watches.map(&:user_id).include?(current_user.id) ? "unwatch" : "watch",
				 						 toggle_watch_survey_path(survey), :method => :put, :class => "watch_unwatch") if user_signed_in?  %>
				<small><b>Descrição:</b>&nbsp;<%= survey.description.titleize %></small>
				
				<%= render 'survey_links', :survey => survey %>
				
				<h4>Pergunta(s) dessa pesquisa</h4>
								
				<% survey.questions.each do |question| %>
		      <ul class="questions">
		        <li>
							<strong><%= question.content %></strong>(<%= pluralize(question.total, "Respostas") %>)
						</li>
		        <% if current_user and not question.already_responded?(current_user) %>
		          <%= form_for @choice do |f| %>
		            <% question.answers.each do |answer| %>
		              <li><%= f.radio_button :answer_id, answer.id %>&nbsp;&nbsp;<%= answer.content.titleize %></li>
		            <% end %>
		            <%= f.submit "Responder" %>
		          <% end %>
		        <% else %>
							<% question.answers.each do |answer| %>
								<li>
			            <span style="display: block;">
			              <%= answer.content.titleize %>
			            </span>
			            <span class="bar">
										<span style="width:<%= sprintf("%2.f%", answer.percentage) %>;"></span>
									</span>
			            <span class="percent"><%= sprintf("%2.f%", answer.percentage) %></span>
			         </li>
			        <% end %>
		        <% end %>
		      </ul>
		    <% end  %>
		  </div>
		<% end %>