<%# title "Surveys" %>
<p><%= link_to "Nova pesquisa", new_survey_path %></p>

<% @surveys.each do |survey| %>
  <div class="surveys">
    <h3><%= link_to survey.name.titleize , survey %></h3> 
    <small><%= survey.description.titleize %></small>
		<% if user_signed_in? %>
			<%= link_to 'Editar', edit_survey_path(survey) %> |
	    <%= link_to 'Excluir', survey, :confirm => 'Tem certeza que deseja excluir?', :method => :delete %> |
			
			<% if survey.user_id.eql? current_user.id %>
				<%= link_to  survey.published? ? "Despublicar" : "Publicar", toggle_publish_survey_path(survey), :method => :put  %> |
			<% end %>
			
			<%= link_to  survey.watches.map(&:user_id).include?(current_user.id) ? "unwatch" : "watch",
			 						 toggle_watch_survey_path(survey), :method => :put  %> 
		<% end %>
  </div>
<% end %>

